.guarantee__item {
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  color: #6b6b6b;
  margin: 40px 0 0 50px;
  padding: 0;
}

.guarantee__item::before {
  content: " ";
  position: absolute;
  top: 13px;
  left: -50px;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #6b6b6b;
}
