.button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
