.option__information_type_attention {
  position: relative;
}

.option__information_type_attention::before {
  content: "";
  background: url("../../../../images/options/attention.png") no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 45px;
  height: 40px;
  top: 0;
  left: -60px;
}
