.option__information {
  display: flex;
  margin: 40px 0 0 80px;
  max-width: 70%;
  font-size: 14px;
  color: #636363;
  line-height: 1.4;
}

@media screen and (max-width: 950px) {
  .option__information {
      margin: 40px 0 40px 80px;
  }
}
