.menu__btn {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 18px;
  right: 30px;
  width: 28px;
  height: 26px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
  }
}
