.example__logo {
  display: block;
  position: absolute;
  top: 30px;
  max-width: 150px;
  z-index: 2;
}

@media screen and (max-width: 450px) {
  .example__logo {
    top: 10px;
    max-width: 100px;
  }
}
