.about-price__button-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  min-height: 660px;
  background: url("../../../images/about-price/about-price-bg.png") no-repeat center;
  background-size: cover;
  padding: 0 0 0 30px;
}
