.example__price-container {
  position: absolute;
  max-width: 200px;
  z-index: 2;
}

.example__price-container:nth-child(1) {
  bottom: 130px;
  left: 20px;
}

.example__price-container:nth-child(2) {
  left: 20px;
  bottom: 50px;
}

.example__price-container:nth-child(3) {
  bottom: 50px;
  right: 20px;
}

@media screen and (max-width: 450px) {
  .example__price-container:nth-child(1) {
  bottom: 110px;
  left: 10px;
}

.example__price-container:nth-child(2) {
  left: 10px;
  bottom: 30px;
}

.example__price-container:nth-child(3) {
  bottom: 30px;
  right: 10px;
}
}
