.menu__hamburger {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}

.menu__hamburger:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  content: '';
  top: -10px;
  transition-duration: .25s;
}

.menu__hamburger:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  content: '';
  top: 10px;
  transition-duration: .25s;
}
