.certificates {
  max-width: 1440px;
  padding: 60px 30px 30px 30px;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .certificates {
    max-width: 1440px;
    padding: 60px 15px 30px 15px;
  }
}
