.question {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  list-style-type: none;
  border-top: 1px solid #eeeeee;
  cursor: pointer;
}

.question:hover > .question__toggle-icon {
  background: #eeeeee;
  transition: background 0.2s ease-in, transform 0.2s ease-in-out;
  transform: rotate(45deg);
}

.question:hover > .question__answer {
  max-height: 500px;
  transition: all 0.3s ease-in
}
